<footer class="wrapper wrapper-single ecomm-section-margin-top">
  <div id="block-menu-menu-social" class="block-menu block-menu-menu-social pure-u-1">
      <div class="social">
          <div class="follow">
              <h2>Follow us on</h2>
          </div>
          <div class="soc">
              <a href="http://facebook.com" class="soc-btn" target="_blank" role="button" aria-label="facebook"><i
                      class="fa fa-facebook"></i></a>
              <a href="http://instagram.com" class="soc-btn" target="_blank" role="button"
                  aria-label="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/" class="soc-btn" target="_blank" role="button"
                  aria-label="linkedin"><i class="fa fa-linkedin"></i></a>
              <a href="http://www.youtube.com/user/" class="soc-btn" target="_blank" role="button"
                  aria-label="youtube"><i class="fa fa-youtube"></i></a>
              <a href="http://twitter.com/" class="soc-btn" target="_blank" role="button" aria-label="twitter"><i
                      class="fa fa-twitter"></i></a>
              <a href="https://www.pinterest.ch/" class="soc-btn" target="_blank" role="button"
                  aria-label="pinterest"><i class="fa fa-pinterest"></i></a>
          </div>
      </div>
      <div id="block-menu-menu-footer-menu" class="block-rado-ecomm block-rado_ecomm-rado_ecomm_menu_footer_menu">
          <ul>
              <li class="first leaf">
                  <h2><a href="">Collections</a></h2>
                  <ul>
                      <li class="nav__iti  underline parent">
                          <a href="_url-tag_" class="underline parent" title="  Captain Cook">
                              _collection-list-item_</a>
                      </li>
                  </ul>
              </li>
              <li class="expanded">
                  <h2><a href="#">About US</a></h2>
                  <ul>
                      <li class="first leaf"><a href="_url_">_about-us-list_</a></li>

                  </ul>
              </li>
              <li class="expanded">
                  <h2><a href="#">_Serivices_</a></h2>
                  <ul>
                      <li class="leaf">
                          <h2><a href="" class="submenu-title">__service-list__</a></h2>
                      </li>
                  </ul>
              </li>
              <li class="last expanded">
                  <h2><a href="">_Legal_</a></h2>
                  <ul>
                      <li class="first leaf"><a href="">__Legal-services_</a></li>
                  </ul>
              </li>
          </ul>
      </div>

    
      <div class="ecomm-newsletter-modal-wrapper-backdrop"></div>
      <div class="footnote">
          <div class="copyright">© 2021, copyright</div>
      </div>
</footer>