{% load static %}

<script src="{ static 'js/vendor/jquery.min.js' %}"></script>
<script src="{ static 'js/vendor/bootstrap.bundle.js' %}"></script>
<script src="{ static 'js/vendor/in-view.min.js' %}"></script>
<script src="{ static 'js/vendor/jquery.lavalamp.js' %}"></script>
<script src="{ static 'js/vendor/owl.carousel.js' %}"></script>
<script src="{ static 'js/vendor/rellax.js' %}"></script>
<script src="{ static 'js/vendor/wow.js' %}"></script>
<script src="{ static 'js/vendor/tabzy.js' %}"></script>
<script src="{ static 'js/vendor/isotope.pkgd.js' %}"></script>

<!-- Template Scripts -->

<script src="{ static 'js/main.js' %}"></script>
<script src="{ static 'js/custom.js' %}"></script>